@import "tailwindcss";

.scrollbar-custom::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-custom {
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  